@font-face {
  font-family: 'BpmfGenSenRounded';
  src: url('../../fonts/BpmfGenSenRounded/BpmfGenSenRounded-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BpmfGenSenRounded';
  src: url('../../fonts/BpmfGenSenRounded/BpmfGenSenRounded-B.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.ant-btn {
  display: inline-flex;
}

.ant-btn span {
  margin: auto;
}

.ant-btn .anticon {
  line-height: 0;
}

.ant-popover {
  z-index: 1001;
}

.ant-popover .ant-popover-title {
  padding: 1rem 1.25rem;
}

.ant-popover .ant-popover-inner-content {
  padding: 0;
}

@media (max-width: 767px) {
  .ant-popover .ant-popover-arrow {
    display: none;
  }
}

.ant-input-number {
  width: 120px !important;
}

.ant-select-selection--multiple > ul > li,
.ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  line-height: 36px;
}

.ant-select-tree li {
  overflow: hidden;
  max-width: 432px;
}

.position-relative {
  position: relative;
}
